.Rproj.user
.Rhistory
.RData
.Ruserdata

PURA/04_test_for_periocidcity/04_test_periocidicity.pdf
PURA/04_test_for_periocidcity/04_test_periocidicity_files/figure-pdf/unnamed-chunk-1-1.pdf
PURA/04_test_for_periocidcity/04_test_periocidicity_files/figure-html/unnamed-chunk-1-1.svg
PURA/04_test_for_periocidcity/04_test_periocidicity_files/figure-pdf/unnamed-chunk-1-1.svg
PURA/09_accessibility/.DS_Store
PURA/08_motifs/.DS_Store
PURA/07_Diff_binding_downstream/.DS_Store
PURA/06_Differential_binding/.DS_Store
PURA/05_HeLa_CLIPs_comparison_of_binding_sites/.DS_Store
PURA/04_test_for_periocidcity/.DS_Store
PURA/.DS_Store
.DS_Store
PURA/.DS_Store
