02_binding_site_definition_flagPURA.aux
02_binding_site_definition_flagPURA.log
02_binding_site_definition_flagPURA.pdf
02_binding_site_definition_flagPURA.tex
02_binding_site_definition_flagPURA.toc
Binding_site_windows_5nt.RData_minus.bed
Binding_site_windows_5nt.RData_plus.bed
Binding_site_windows_5nt_minus.bed
Binding_site_windows_5nt_plus.bed
repro_matrix.png65300in
.DS_Store
